<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
      <add namespace="ClientDependency.Core.Mvc" />
      <add namespace="ClientDependency.Core" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
    </modules>
    <handlers>
      <remove name="DependencyHandler" />
      <add name="DependencyHandler" preCondition="integratedMode" verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </handlers>
  </system.webServer>
  <clientDependency version="10">
    <compositeFiles>
      <fileProcessingProviders>
        <!-- 
        A file processor provider for final files aws S3 bucket.
        Needs Nuget libraries: AWSSDK.S3
        You will need read/write access to the bucket with the provided credentials
        -->
        <add name="CompositeFileProcessor"
             type="ClientDependency.Core.CompositeFiles.Providers.CompositeS3FileProcessorProvider, ClientDependency.RedisAndS3"
             bucketRegion="YOUR REGION HERE LIKE:us-west-2"
             bucketName="YOUR BUCKET HERE"
             accessKey="YOUR ACCESS KEY HERE"
             secretKey="YOUR SECRET KEY HERE" />
      </fileProcessingProviders>
      <!-- 
      A file map provider store for map files in Redis Cache, format is json.
      Needs Nuget libraries: Newtonsoft.Json and StackExchange.Redis
      -->
      <fileMapProviders>
        <add name="XmlFileMap"
             type="ClientDependency.Core.CompositeFiles.Providers.RedisXmlFileMapper, ClientDependency.RedisAndS3"
             mapPath="~/ClientDependency/Cache"
             dbNum="2"
             redisCacheConnection="localhost"/>
      </fileMapProviders>
    </compositeFiles>
  </clientDependency>
  <connectionStrings/>
</configuration>
